<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
    $$HEADTAGS$$
    <ac:templateoverridearea id="HeadTagsAddonArea"></ac:templateoverridearea>
    <link rel="stylesheet" href="/Shared/Themes/000Atomic [clone 636456517242358020] [clone 636457106549266702]/Templates/RightColumnOnly.css" type="text/css">
  </head>
<body class="RightColumn ##PAGEBODYCLASSES##" itemtype="http://schema.org/WebPage" itemscope="">
    <div class="Layout">
      <header class="LayoutTop">
        
        $$HEADER$$
        
      </header>
      <ac:templateoverridearea id="HeaderAddonArea"></ac:templateoverridearea>
      <section class="LayoutMiddle container">
        <div class="row">
          <section class="LayoutContent col-md-9 col-lg-10">
            <div class="LayoutContentInner">
              $$PAGELAYOUT$$
            </div>
            <div style="clear:both"></div>
          </section>
          <aside class="LayoutRightColumn col-md-3 col-lg-2">
            <div class="LayoutRightColumnInner">
              <ac:templateoverridearea id="RightColumn">
                $$RIGHTCOLUMN$$
              </ac:templateoverridearea>
            </div>
          </aside>
        </div>
      </section>
      <footer class="LayoutBottom">
        
        $$FOOTER$$
        
      </footer>
    </div>
  </body>
</html>