<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
    $$HEADTAGS$$
    <ac:templateoverridearea id="HeadTagsAddonArea"></ac:templateoverridearea>
    <link rel="stylesheet" href="/Shared/Themes/UltraStoreRev0.00/Templates/LeftColumnOnly.css" type="text/css">
  </head>
<body class="LeftColumn ##PAGEBODYCLASSES##" itemtype="http://schema.org/WebPage" itemscope="">
    <div class="Layout">
      
      <header class="LayoutTop">
        
        $$HEADER$$
        
      </header>
      
      
      <section class="LayoutMiddle container">
        <div class="row">
          
          <aside class="LayoutLeftColumn col-md-3 col-lg-2">
            <div class="LayoutLeftColumnInner">
              <ac:templateoverridearea id="LeftColumn">
                $$LEFTCOLUMN$$
              </ac:templateoverridearea>
            </div>
          </aside>
          <section class="LayoutContent col-md-9 col-lg-10">
            <ac:templateoverridearea id="HeaderAddonArea"></ac:templateoverridearea>
            <div class="LayoutContentInner">
              $$PAGELAYOUT$$
            </div>
            <div style="clear:both"></div>
          </section>
        </div>
      </section>
      <footer class="LayoutBottom">
        
              $$FOOTER$$
          
      </footer>
    </div>
  </body>
</html>