<!DOCTYPE html>
<!-- Blank Template -->
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
	$$HEADTAGS$$
	<link rel="stylesheet" href="/Shared/Themes/MinimalistWhiteRoch100v0.00/Templates/Blank.css" type="text/css">
</head>
<body class="BlankTemplate">

$$PAGELAYOUT$$

</body>
</html>