/* Large desktop */
@media (min-width: 1200px) { 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
.SmBanImg, .SmBanImg1 {margin-top:30px;}


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.SmBanImg1 {margin-top:30px;}
.SiteLogo {margin-bottom:30px;}
body.Default .LayoutMiddle {text-align:center;}
.SmBanImg, .SmBanImg1 {margin-top:30px;}
}

/* Landscape phones and down */
@media (max-width: 480px) { 
.col-xxs {float:none; clear:both; width:100%;}


}



