<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
    $$HEADTAGS$$
    <ac:templateoverridearea id="HeadTagsAddonArea"></ac:templateoverridearea>
  </head>
<body class="OneColumn ##PAGEBODYCLASSES##" itemtype="http://schema.org/WebPage" itemscope="">
    <div class="site-wrapper">
      <header>
        $$HEADER$$
      </header>
      <ac:templateoverridearea id="HeaderAddonArea"></ac:templateoverridearea>

      <main>
        <div class="container">
        <div class="row">
          <section class="col-sm-12">
            $$PAGELAYOUT$$
          </section>
        </div>
        </div>
      </main>

      <ac:templateoverridearea id="FooterAddonArea"></ac:templateoverridearea>
      <footer>
        $$FOOTER$$
      </footer>
    </div>
  </body>
</html>